body {
    font-family: 'Sigmar One', cursive
}

.flex-item {
    display: flex;
    align-items: center;
}
.flex-item img{
    flex-grow:0;
    flex-shrink:0;
}
h1.ariel {
    font-family: Arial, Helvetica, sans-serif;
}
div.ariel {
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7289DA;
}

li {
    float: right;
    border-right:1px solid #7289DA;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #7289DA;
}

.active {
    background-color: #2C2F33;
}
.synx-table {
    position: absolute;
    width: 100%;
    color: white;
    margin-top: 150px;
}
.synx-table {
    margin-top: 100px;
}
.btn {
  background: #7288da;
  background-image: -webkit-linear-gradient(top, #7288da, #7288da);
  background-image: -moz-linear-gradient(top, #7288da, #7288da);
  background-image: -ms-linear-gradient(top, #7288da, #7288da);
  background-image: -o-linear-gradient(top, #7288da, #7288da);
  background-image: linear-gradient(to bottom, #7288da, #7288da);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7288da;
  background-image: -webkit-linear-gradient(top, #7288da, #7288da);
  background-image: -moz-linear-gradient(top, #7288da, #7288da);
  background-image: -ms-linear-gradient(top, #7288da, #7288da);
  background-image: -o-linear-gradient(top, #7288da, #7288da);
  background-image: linear-gradient(to bottom, #7288da, #7288da);
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none; /* no underline */
}
